# Question - 1

In [1]:
# Assuming that we have some email addresses in the "username@companyname.com" format, please write program
# to print the company name of a given email address. Both user names and company names are composed of letters only.

In [2]:
email=input("Enter Your Company email : ")
x=email.index("@")
print("Company Name is : ",email[x+1:len(email)-4],end='')

Enter Your Company email : john@google.com
Company Name is :  google

# Question - 2

In [3]:
# Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
# separated sequence after sorting them alphabetically.

In [4]:
print("Enter Comma seperated words \n ")

items=[x for x in input().split(',')]
items.sort()
print (','.join(items))

Enter Comma seperated words

without,hello,bag,world
bag,hello,without,world

# Question - 3

In [5]:
# Create your own Jupyter Notebook for Sets.

In [6]:
s = {'Artificial Intelligence','Data Science','Machine Learning','Deep learning'}

In [7]:
# Access Items Of a set
for i in s:
    print(i)

Machine Learning
Artificial Intelligence
Deep learning
Data Science

In [8]:
# Add items

s.add('IOT')
s

{'Artificial Intelligence',
 'Data Science',
 'Deep learning',
 'IOT',
 'Machine Learning'}

In [9]:
# Update set 

s.update(['Python','R'])
s

{'Artificial Intelligence',
 'Data Science',
 'Deep learning',
 'IOT',
 'Machine Learning',
 'Python',
 'R'}

In [10]:
# remove items from set
s.remove('Python')
print(s)
s.discard('R')
print(s)

{'Deep learning', 'Machine Learning', 'Artificial Intelligence', 'Data Science', 'R', 'IOT'}
{'Deep learning', 'Machine Learning', 'Artificial Intelligence', 'Data Science', 'IOT'}

In [11]:
# use pop method
s.pop()
s

{'Artificial Intelligence', 'Data Science', 'IOT', 'Machine Learning'}

In [12]:
# clear the set


s.clear()
s

set()

In [13]:
# detelt the set
del(s)

In [14]:
# use set constructor

tp = (1,2,3,4)
s = set(tp)
s

{1, 2, 3, 4}

# Question - 4

In [15]:
# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [16]:
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)//2
    sum_of_A = sum(A) 
    return total - sum_of_A 

A = input("Enter numbers separated by space ").split(' ')
A = list(A)
a = []
for i in A:
    a.append(int(i))
    
m = getMissingNo(a) 
print("Missing Value is : ",m)

Enter numbers separated by space 1 2 4 6 3 7 8
Missing Value is :  5

# Question - 5

In [17]:
# With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [18]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
A = input("Enter numbers separated by space ").split(' ')
A = list(A)
a = []
for i in A:
    a.append(int(i)) 
print(sorted(Remove(a)))

Enter numbers separated by space 12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]